<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>sector</title>
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="./normalize.css"> -->
    <!-- <link rel="stylesheet" href="./demo.css"> -->
    <link rel="stylesheet" href="./component1.css">
    <!-- <script src="./modernizr-2.6.2.min.js"></script> -->
</head>

<body style="background: rgba(0,0,0,0.5);">

    <!-- Start Nav Structure -->
    <div class="cn-wrapper opened-nav" id="cn-wrapper">
        <ul>
            <li>
                <a href="#">
                    <span class="fa fa-caret-up"></span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="fa fa-caret-up"></span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="fa fa-caret-up">
                        </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="fa fa-caret-up"></span>
                </a>
            </li>
            <li>
                <a href="#">

                    <span class="fa fa-caret-up"></span>
                </a>
            </li>
            <li>
                <a href="#">

                    <span class="fa fa-caret-up"></span>
                </a>
            </li>
            <li>
                <a href="#">

                    <span class="fa fa-caret-up"></span>
                </a>
            </li>
            <li>
                <a href="#">

                    <span class="fa fa-caret-up"></span>
                </a>
            </li>
            <div class="circle">
            </div>
        </ul>
    </div>
    <!-- End Nav Structure -->
</body>

</html>