* {
	margin: 0;
	padding: 0;
}
body {
	padding: 100px;
}

div.box {
	background-color: #fb3;
	width: 200px;
	height: 100px;
	margin: 10px;
}

div.box1 {
	border-radius: 100px / 50px;
}

div.box2 {
	border-top-left-radius: 100px 100px;
	border-top-right-radius: 100px 100px;
}

div.box3 {
	border-top-left-radius: 200px 100px;
}
